.inb-zi ul{
    list-style: none;
    float: left;
    height: 40px;
    width: 100%;
    margin: 0;
    padding-left: 15%;
    text-align: center;
}
.heng li{
    float: left;
    height: 40px;
    width: 143px;
}
.inb-hul{
    float: left;
    height: 300px;
    width: 100%;
    background: #fff;
    font-size: 16px;
    position: absolute;
    padding-top: 1%;
    top: 29.3%;
    z-index: 99;
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    padding-left: 17.17%;
    /*opacity: 0.6;*/
    display: none;
}
.inb-hul ul{
    float: left;
    height: 170px;
    width: 14%;
    padding-left: 0;
    text-align: left;
}
/*440630182200413*/
.inb-hul ul li{
    width: 100px;
}
.inb-hul ul a{
    padding: 0px;
}
.top-zi{
    font-weight: 550;
    font-size: 17px;
    color: #000;
}
.kuai1{
    float: right;
    margin-right: 52%;
    margin-top: -24px;
    z-index: 20;

    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #1abc9e transparent;
    width: 0px;
    height: 0px;
}
.kuai2{
    float: right;
    margin-right: -92%;
    margin-top: -24px;
    z-index: 20;

    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #1abc9e transparent;
    width: 0px;
    height: 0px;
}
.kuai3{
    float: right;
    margin-right: 69.7%;
    margin-top: -24px;
    z-index: 20;

    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #1abc9e transparent;
    width: 0px;
    height: 0px;
}
.kuai4{
    float: right;
    margin-right: 36.7%;
    margin-top: -11px;
    z-index: 20;

    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #1abc9e transparent;
    width: 0px;
    height: 0px;
}
.shu a:hover{
    color: #ccc;
    font-size: 17px;
}
.inb-hul1{
    float: left;
    height: 380px;
    width: 100%;
    background: #fff;
    font-size: 16px;
    position: absolute;
    /*padding-top: 1%;*/
    top: 29.3%;
    z-index: 99;
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    /*padding-left: 17.17%;*/
    /*opacity: 0.6;*/
    display: none;
}
.yong1-z1{
    width: 20%;
    height: 380px;
    float: left;
}
.yong1-z1 img{
    height:330px;
    width:100%;
    margin: 0; 
    display: block;
    float: left;
}
.yt-zi{
    height: 50px;
    width: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #ccc;
}
.yong1-z1:hover{
    background: #000;
    color: #fff;
}
.shuimg{
    width: 300px;
    height: 150px;
    float: left;
}
.shuimg img{
    width: 280px;
    height: 150px;
    border-radius: 4%;
}